.imgBox {
    display: flex;
    flex: 1 1 50%;

    min-width: 500px;
}

.imgSensor {
    display: flex;
    flex: 1 1 auto;

    max-height: 100vh;
    min-height: 700px;

    padding: 20px;
}

.img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}