.buttonMain {
    margin-top: 20px;

    width: 180px;
    min-height: 50px;
    border-radius: 24px;

    font-size: 20px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1.4px;

    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,35,78,1) 38%, rgba(171,21,51,1) 95%);
    box-shadow: 0px 10px 17px 10px rgba(33, 43, 105, .4);
}